# Mac Crap
.DS_Store

# Obsidian
#/Obsidian
# .obsidian

.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json

.obsidian/plugins

/.obsidian/workspace.json
/.obsidian/plugins/novel-word-count/data.json
/.obsidian/plugins/recent-files-obsidian/data.json

Web/Install LaTeX under Windows.md

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections